.categories {
  text-align: left;
  display: flex;
  flex-flow: column wrap;
  padding: 20px 20px;
  min-height: 100vh;
  color: #01203a !important;
  margin-left: 90px;
}
.categoryBox {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
  border-radius: 9px !important;
  background-color: white;
  padding: 20px;
  min-height: 200px;
  min-width: 300px;
  max-width: 230px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 20px;
}

#link {
  text-decoration: none !important;
  color: #01203a !important;
}

.categoryComponent {
  display: flex;
  flex-wrap: wrap;
}
