.courses {
  margin-left: 80px;
  padding: 20px 40px;
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh;
}

.courseBox {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);

  border-radius: 9px !important;
  background-color: rgb(247, 247, 247);
  padding: 20px;
  min-height: 50px;
  max-width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 20px;
}

.courseBox h3 {
  margin: 0 0 0 0;
}

.listTitle {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}

/* .courseBox:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
} */

.courseComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 70vw;
}
